

<!--

  <div class="ui horizontal divider">
    Share
  </div>

  <div class="ui center aligned spaced horizontal segments">

<a href="https://www.facebook.com/psychowarfare" class="ui blue inverted segment"><i class="facebook large icon"></i> Share</a>
<a class="ui teal inverted segment" href="https://twitter.com/intent/tweet?text=Hello%20world"> <i class="twitter large icon"></i>Tweet</a>
<a href="mailto:name@email.com" class="ui black inverted segment"><i class="mail large  icon"></i>Email</a>



    </div>
-->


<div class="ui item">
    <%= link_to(image_tag("#{article.header_image}",  class: "#{ blog_image_helper(@is_root)}"), show_page_path(article)) %>

    <div class="ui centered text container">
      <h1 class="ui horizontal header divider">
        <%= article.title %>
      </h1>
    </div>


    <% if article.embedded_link != "" %>
      <iframe width="100%" height="166" scrolling="no" frameborder="no" src="<%= article.embedded_link %>&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    <% end %>

  <div class="ui float right content">

    <h1 class="ui header left aligned">

      <div class="sub header">
        <%= article.written_at_date.strftime('%B %d, %Y') %>
      </div>
    </h1>


    <% if  @read_more == false %>
     <%=  article.content.html_safe %>
    <% else %>
        <%= truncate(ActionView::Base.full_sanitizer.sanitize(article.content.html_safe), length: 300) %>
    <% end %>

  </div>

</div>

    <% if @read_more == false %>


     <div class="ui horizontal divider">
        Useful links
     </div>

     <ul class="ui list">
       <% article.useful_links.each do |key, value| %>
        <li>
         <%= link_to "#{key}", value, target: :blank %>
         </li>
         <% end %>

    </ul>


<!--
      <div class="ui horizontal divider">
        Show Notes
     </div>
     <ul class="ui ordered list">

       <% article.timestamp.each do |item| %>
         <li>
           <%= item %>
         </li>
       <% end %>
    </ul>
-->
      <div class="ui horizontal divider">
        People Mentioned
     </div>
     <ul class="ui ordered list">

       <% article.people_mentioned.each do |key, value| %>
         <li>
           <%= link_to "#{key}", value, target: :blank %>
         </li>
       <% end %>
    </ul>
    <% else %>
     <div class="ui left aligned header">
      <!--
    <%= link_to show_page_path(article), class: "ui blue basic massive button" do %>
      Listen & Comment
    <% end %>
  -->
  </div>


    <% end %>

      <div class="ui horizontal divider">
     enjoy
   </div>
