
<h1 class="ui header left aligned">
<%= link_to(article.title, show_page_path(article)) %>

  <div class="sub header">
    <%= article.written_at_date.strftime('%B %d, %Y') %>

 <div class="ui right aligned header">
    Topics: <% article.tag_counts.each do |t| %>
    <%= link_to search_path(t.name), class: "ui teal basic label" do %>
      <%= t.name %>
    <% end %> 
  <% end %>
  </div>


  </div>

</h1>
 

  <div class="ui horizontal divider">
    Share
  </div>

  <div class="ui segment center aligned spaced">

<a href="https://www.facebook.com/psychowarfare" class="ui facebook button"><i class="facebook icon"></i>Facebook</a>
<a class="ui twitter button" href="https://twitter.com/intent/tweet?text=Hello%20world"> <i class="twitter icon"></i>Tweet</a>
<a href="mailto:name@email.com" class="ui vk button"><i class="mail icon"></i>Email</a>



    </div>

   <div class="ui horizontal divider">
     ENJOY 
   </div>

    <div class="ui raised container segment">
      <%= image_tag("#{article.header_image}",  class: "ui container image") %>
    </div>
     <%= article.content.html_safe %>

    <% if @read_more == false %>
      
      <iframe width="100%" height="166" scrolling="no" frameborder="no" src="<%= article.embedded_link %>&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>


     <div class="ui horizontal divider">
        Useful links    
     </div>

     <ul class="ui list">
       <% article.useful_links.each do |key, value| %>
        <li>
         <%= link_to "#{key}", value %>
         </li>
         <% end %>
    
    </ul>


      <div class="ui horizontal divider">
        Show Notes
     </div>
     <ul class="ui ordered list">

       <% article.timestamp.each do |item| %>
         <li>
           <%= item %>
         </li>
       <% end %>
    </ul>

      <div class="ui horizontal divider">
        People Mentioned
     </div>
     <ul class="ui ordered list">

       <% article.people_mentioned.each do |key, value| %>
         <li>
           <%= link_to "#{key}", value %>
         </li>
       <% end %>
    </ul>
    <% else %>
     <div class="ui left aligned header">
    <%= link_to show_page_path(article), class: "ui blue basic massive button" do %>
      Read More & Comment
    <% end %> 
  </div>


    <% end %>

