

<div class="ui centered grid vertical stripe inverted segment">
<div class="ui vertical stripe segment">
  <div class="ui text inverted container">
    <h1 class="ui orange header"> Welcome to the revolution</h1>
     <%= image_tag "logo.png" , class: "ui medium left floated image" %>
    <p class="ui orange header"> Climate change, economic distaster, Donald Trump, cognitive bias, and the atomization of the public are just a few of the things bringing us the
    precipice.  We need to understand these problems before we can fight them. </p>
    <%= link_to(home_listen_path, target: :blank) do %>
           <div class="ui huge inverted red button" id="listen_button">Listen To The Podcast
             <i class="right play icon"></i>
          </div>
        <% end %>
    </div>


  </div>
</div>


<div class="ui centered text container">
  <h1 class="ui horizontal header divider">
    Recent Episodes
  </h1>
</div>
<!-- Following Menu -->
<div class="ui centered grid vertical stripe segment">


  <div class="ui three stackable cards">
    <% @mast_head.each do |article| %>
      <div class="card">
        <%= link_to(show_page_path(article), class: "ui medium image home_index_image") do %>
          <%= image_tag article.header_image %>
            <div class="archive-home__content">
               <h4> <%= article.title %> </h4>
            </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>



<div class="ui centered grid vertical stripe inverted segment">
<div class="ui vertical stripe segment">
  <div class="ui text inverted container">
    <h1 class="ui orange header"> Become a Patron</h1>
    <p class="ui orange header"> While we live in capitalism, we need to participate in it.  If you can support me, I would greatly appreciate it.  If you can't I would
    just love to have you listen. </p>
    <%= link_to(home_listen_path, target: :blank) do %>
    <div class="ui huge circular orange inverted button">
      <i class="paypal icon"></i>Become a Patron
    </div>
        <% end %>
    </div>


  </div>
</div>
