
<div class="ui horizontal divider">
  Follow Us :)
</div>
<%= link_to "https://www.facebook.com/psychowarfare", target: :blank  do  %>
      <div class="ui circular facebook icon button">
        <i class="facebook icon"></i>
      </div>
   <% end %>

<%= link_to "https://twitter.com/PsychoWarfareHQ", target: :blank  do  %>
      <div class="ui circular twitter icon button">
        <i class="twitter icon"></i>
      </div>
   <% end %>

   <%= link_to "https://www.youtube.com/channel/UClZ0kWdkSUvTIgFvpmX7jDA/videos", target: :blank  do  %>
      <div class="ui circular youtube icon button">
        <i class="youtube icon"></i>
      </div>
   <% end %>



<div class="ui horizontal divider">
  Get Updates
</div>

  <div class="segments">
  <a class="ui fluid button blue" onclick="showEmailModel();">
    <i class="mail icon"></i> Subscribe to our Email List
  </a>
  </div>
<div class="ui horizontal divider">
  Listen
</div>


<div class="ui center aligned segments">
   <%= link_to home_listen_path, target: :blank  do  %>
      <div class="ui fluid button red ">
        <i class="music icon"></i>Where can I listen ?
      </div>
   <% end %>

  <!--

   <%= link_to "#"  do  %>

  <div class="ui center aligned black  segment"><i class="bar chart icon"></i>Stitcher
  </div>
  <% end %>
   <%= link_to "#"  do  %>

  <div class="ui center aligned orange segment"><i class="unmute icon"> </i>Overcast
  </div>
  <% end %>

-->


</div>

<div class="ui horizontal divider">
  Support Us
</div>

 <%= link_to "https://www.patreon.com/bePatron?u=6850862", target: :blank  do  %>

  <div class="ui center aligned orange inverted segment"><i class="paypal icon"></i>Become a Patron
  </div>
<% end %>


<div class="ui horizontal divider">
  Popular Posts
</div>
<div class="ui cards">
  <% Article.limit(5).each do |t| %>
  <div class="black card">
   <%= link_to show_page_path(t) do %>
   <div class="content">
    <div class="header center aligned"><%= t.title %> </div>
  </div>
  <% end %>
</div>

<% end %>
</div>

<div class="ui horizontal divider">
  Topics
</div>


<div class="ui divided selection list labels">



  <%  Article.tag_counts.each do |t| %>
  <%= link_to search_path(t.name), class: "ui teal basic label" do %>
  <%= t.name %>
  <div class="detail">
   (<%= t.count %>)
 </div>
 <% end %>
 <% end %>
</div>
