
<div class="ui horizontal divider">
  Pick Your Platform :)
</div>

<%= link_to "https://itunes.apple.com/us/podcast/psychological-warfare-with-a-j-norton/id1265694390?mt=2", target: :blank  do  %>
      <div class="fluid ui massive purple icon button">
        <i class="apple icon"></i>
        iTunes
      </div>
   <% end %>

   <div class="ui horizontal divider">
    Or
  </div>

<%= link_to "https://play.google.com/music/m/I32iuki5prnjqqmcyjbnz2mitkq?t=Psychological_Warfare_with_AJ_Norton", target: :blank  do %>
      <div class="fluid ui massive green icon button">
        <i class="google icon"></i>
        Android
        <i class="android icon"></i>
      </div>
   <% end %>
<div class="ui horizontal divider">
    Or
  </div>
   <%= link_to "https://soundcloud.com/psychowarfare", target: :blank  do  %>
      <div class="fluid ui massive orange icon button">
        <i class="soundcloud icon"></i>
        SoundCloud
      </div>
   <% end %>
   <div class="ui horizontal divider">
    Or
  </div>

   

     <%= link_to "http://tun.in/piDrH", target: :blank  do  %>
      <div class="fluid ui massive black icon button">
        <i class="text width icon"></i>
        tunein
      </div>
   <% end %>
   <div class="ui horizontal divider">
    Or
  </div>

   
        <%= link_to "https://overcast.fm/itunes1265694390/psychological-warfare-with-a-j-norton", target: :blank  do  %>
      <div class="fluid ui massive yellow icon button">
        <i class="sound icon"></i>
        Overcast
      </div>
   <% end %>

   <div class="ui horizontal divider">
    Or
  </div>

      <%= link_to "http://www.stitcher.com/s?fid=157669&refid=stpr", target: :blank  do  %>
      <div class="fluid ui massive inverted twitter icon button">
        <i class="signal icon"></i>
        Stitcher
      </div>
   <% end %>

   <div class="ui horizontal divider">
    Or
  </div>


  
  Don't see your platform here ?  Email (aj@psychowarfare.com) or Tweet at me and let me know!