<!DOCTYPE html>
<html>
  <head>
    <title>Psychological Warfare</title>
    <%= csrf_meta_tags %>
    <meta name="apple-itunes-app" content="app-id=1265694390">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if Rails.env.production? %>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-XXXXXXXX-X', 'auto');
    </script>
    <% end %>

    <%= favicon_link_tag("favicon.ico") %>

    <meta property="og:title" content="Psychological Warfare Podcast">
    <meta property="og:description" content="A podcast discussing the current state of politics, psychology, climate, and theory.">


      <meta property="og:image" content="http://placehold.it/300">>
      <meta property="og:url" content="http://psychowarfare.com">


  </head>

  <body>

  <%= render 'topBar' %>

    <div class="topHeader">

      <% if current_page?(controller: 'home', action: 'index')  %>
        <%= render 'masthead' %>
      <% end %>

     <div class="ui centered  grid vertical stripe segment">

       <div class="ui twelve wide column">

         <%= yield %>

       </div>
     </div>
   </div>

    <%= render 'emailModal' %>
    <%= render 'footer' %>
    <%= render 'messages' %>
  </body>
</html>
